*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  overflow-x: hidden!important;
}

/*--------------------Image Banner------------------------*/
.input-group-text{
   background-color:#fff!important;
   border:0!important;
   border-radius:0!important;
} 

.s013 {
  min-height: 100vh;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
  background-size: cover;
  background-position:center center;
  background-repeat: no-repeat;
  position: relative;
  width:100%;
  
}

.s013 form {
  max-width: 100%;
  margin: 0;
}

.s013 form .inner-form {
  display: flex;
  -ms-flex-pack: justify;
}

.s013 form .inner-form .left {
  -ms-flex-positive: 1;
 
  display: flex;
}

.s013 form .inner-form .input-wrap {
  background: #fff;
  position: relative;
  padding: 15px 20px 15px 20px;
}

.s013 form .inner-form .input-wrap .input-field input {
  font-size: 16px;
  color: #333;
  background: transparent;
  width: 100%;
  border: 0;
  font-family: 'Lato', sans-serif;
  padding: 6px 0;
}

.s013 form .inner-form .input-wrap .input-field input.hover, .s013 form .inner-form .input-wrap .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.s013 form .inner-form .input-wrap.first {
  -ms-flex-positive: 1;
   min-width: 350px;
   border-radius:none 0!important;
   display: flex;
}

.s013 form .inner-form .input-wrap.second {
  min-width: 350px;
  border-radius:none 0!important;
  border-left: 2px solid #ccc;
  display: flex;
}


.s013 form .btn-search {
  min-width: 110px;
  height: 70px;
  background: #299494;
  white-space: nowrap;
  border-radius:none 0!important;
  font-size: 16px;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  
}
@media screen and (max-width: 768px) {
  .s013 form .inner-form {
    display: flex;
    padding: 25px;
    flex-wrap: wrap;
  }
  .s013 form .inner-form .left {
    display: block;
  }
  .s013 form .inner-form .left .input-wrap {
    margin-bottom: 15px;
  }
  .s013 form .btn-search {
    margin: 0;
    width: 76%
  }
}

@media screen and (max-width: 414px) {
  .s013 form .btn-search {
    margin: 0;
    width: auto;
  }
}
/*-----------------Nav Bar-------------------*/

nav .navbar-nav>li>a {
  font-size: 14px;
  color: #585858 !important;
  font-family: 'Montserrat', sans-serif;
}

.navbar{
 padding: 0.5rem 2rem 0.5rem 2rem!important;
}
.navbar-nav li {
  padding:0px 10px 0px 10px;
}
.navbar-nav li a{

border-bottom: 3px solid transparent;
}

.navbar .navbar-collapse {
  text-align: center;
}

#topheader .navbar-nav li.active > a {
  border-bottom: 3px solid #299484;
}
#topheader .nav-item .dropdown-item{
font-size: 12px;
color:#585858 ;
}
#topheader .nav-item .dropdown-item:hover{
  color:#299494;
  text-decoration: none;
  background: #fff;
  }
#topheader .dropdown {
    display: inline-block;
    position: relative;
}
#topheader .dropdown-toggle::after {
  content: none;
}
#topheader  .dropdown-menu{
    position: absolute;
    width: 30%;
}
#topheader .dropdown-item .flex-container {
  display: flex;
  padding: 10px 5px 0px 5px ;
}

.dropdown-item .msg-title{
  flex: 2;
  font-size: 18px;
  font-weight: 600;
  color: #686868;
  font-family: "Open Sans"
}
.dropdown-item span a{
color: #686868;
font-size: 18px;
font-family: "Open Sans";
text-decoration: none;
}
.dropdown-item .person{
  font-size: 16px;
  color: #7f7f7f;
  font-weight: 600;

}
.dropdown-item  .time{
  font-size: 14px;
  color: grey;
  font-weight: bolder;
}
.dropdown-item .para{
  color:grey;
  font-size: 14px;
}
/* ============Dropdown Media query===========*/
@media only screen and (max-width: 991px)  {
  .dropdown-menu{
    position: absolute;
    width: 35%;
  }
}

@media only screen and (max-width: 752px)  {
  .dropdown-menu{
    position: absolute;
    width: 45%;
  }
}
@media only screen and (max-width: 600px)  {
  .dropdown-menu{
    position: absolute;
    width:65%;
  }
}
@media only screen and (max-width: 422px)  {
  .dropdown-menu{
    position: absolute;
    width:75%;
  }
}
/* ============End ===========*/


.item-details h6{
    line-height: 300%;
    padding:0px 0px 0px 15px ;
    font-weight: 700;
}
.dropdown-item .userimg{
  width: 80px;
  height: 80px;
}

#testimonials img {
  border-radius: 20px 20px 0 0;
  height: auto;
}

.item {
      text-align: left;
  }
  .owl-carousel .owl-nav button.owl-next{
    background:#fff!important;
  }
  .owl-carousel .owl-nav button.owl-prev{
    background:#fff!important;
  }
.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #fff;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
   height: 50px;
   width: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  font-size: 20px;
  color: #000;
  border: 1px solid grey;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.owl-carousel .owl-prev {
  left: -30;
}
.owl-carousel .owl-next {
  right: -30;
}

/*---------------------Top Rated Card------------------*/
#top_rated .card{
border-radius: 20px;
border: none;

}

#top_rated  img {
border-radius: 20px 20px 0 0;
}

#top_rated .card-img-caption {
border-top-left-radius: calc(.25rem - 1px);
border-top-right-radius: calc(.25rem - 1px);
}

#top_rated .card-img-caption .card-img-top {
z-index: 0;
}
  
#top_rated .card-img-caption .card-text {
width: 100%;
margin: 40% 0 0 5%;
position: absolute;
z-index: 1;
color: #fff;
}
#top_rated .prize_text{
font-family: sans-serif;
font-size: 20px;
font-weight: 700;
color: #fff;
width: 100%;
margin: 50% 0 0 5%;
position: absolute;
z-index: 1;
color: #fff;
}

#top_rated .fa-heart-o{

margin: 50% 0 0 80%;
position: absolute;
z-index: 1;
color: #fff;
cursor: pointer;
}
.checked{
color:orangered; 
}
#top_rated .btn-success2 {
font-size: 12px;
color: #fff;
padding: 2px 10px;
border-radius: 50px;
background-color: #20878C; 
border: none;
}

@media only screen and (max-width: 742px)  {
  #top_rated .card-deck .card{
   width: 100%;
  }
}
@media only screen and (max-width: 742px)  {
  #top_rated .card-img-caption .card-text {
    width: 100%;
    margin: 40% 0 0 5%;
    position: absolute;
  
   
  }
}
/*---------------- star Ratings--------- */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  }

.rating-stars ul > li.star > i.fa {
  font-size:1.0em; 
  color:#ccc; 
}

.rating-stars ul > li.star.hover > i.fa {
  color:#299484;
}

.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}


/*===============Shop And Services==================
===================================================*/

#serviceshops img{
border-radius: 10px;
}

#serviceshops .description_sec h6{
font-size: 17px;
font-weight: 600;
font-family: sans-serif;
}
#serviceshops .description_sec p{
font-size: 14px;
font-weight: 300;
font-family: sans-serif;
}
#serviceshops .txt_r .reviews_txt{
font-size: 12px;
font-weight: 300;
font-family: sans-serif;
color: grey;
}


#serviceshops .btn_rating{
  background-color: darkorange;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  padding: 1px 10px;
}

#serviceshops .table td p{
  color: grey;

}
#serviceshops .table td .btn_book{
  background-color:#299494 ;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  padding: 6px 18px;
}

#serviceshops .responsive {
  width: 100%;

}

#serviceshops .responsive1 {
  width: 100%;

}
#serviceshops .card{
  margin:25px 0px 0px 0px;
}

/*===============Sevice Shop Css End==================
===================================================*/







/*===============offer Refund  ==================
===================================================*/

#offerRefund  th{

  font-size: 14px;
text-align: center;
}

#offerRefund .table-responsive-xl td{

  font-size: 14px;
  text-align: center;
}
#offerRefund  .det_bt{
  background: #299494;
  color: #fff;
  padding: 6px 30px;
  cursor: pointer;
  border-radius: 5px;
  
}

#offerRefund .dropdown-item{
  font-size: 12px;
  color: #666666;
  text-decoration: none;
}
#offerRefund .dropdown-item:hover{
  font-size: 12px;
  color: #299494;
  cursor: pointer;
  background-color: #fff;
}
#offerRefund  .inbox_btn{
  background: #299494;
  color: #fff;
  padding: 6px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}
#offerRefund .review_btn{
  background: transparent;
  border: 1px solid  #299494; 
  color: #299494;
  padding: 4px 15px;
  cursor: pointer;
  border-radius: 5px;
}
#offerRefund td p{
  font-size: 14px;
  color:#4D4D4D;  
}
#offerRefund tr{
 border-bottom: 1px solid #DBDBDB;
 
}
/*===============offer Refund  End==================
===================================================*/





/*===============Shop_Owner Manage service CSS==================
===================================================*/
#Shop_Ownersevrvice p{
  color: #717171;
  font-size: 16px;
}
#Shop_Ownersevrvice  td{
  color: #717171;
  font-size: 14px;
  
}
#Shop_Ownersevrvice #profile{
  color: #299494;
  font-size: 16px; 
  cursor: pointer;
  text-decoration: none;
}
#Shop_Ownersevrvice .offer_bt{
  color: #299494;
  background: transparent;
  padding: 5px 30px;
  border-color: #299494;
}
#Shop_Ownersevrvice .calendr{
  color: #299494;
  font-size: 16px; 
  cursor: pointer;
  text-decoration: none;
}
#Shop_Ownersevrvice .table_book tr{
  border-bottom: 1px solid #DBDBDB;
}
#Shop_Ownersevrvice .send_bt{
  color: #299494;
  background: transparent;
  border-color: #299494;
  font-size: 14px;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #DBDBDB;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}
#Shop_Ownersevrvice #more
 {display: none;}
 #Shop_Ownersevrvice #myBtn {
  background: #fff;
  color: #299494;
  border: none 0;
}
#Shop_Ownersevrvice .transaction{
color: #299494;
font-size: 18px;
cursor: pointer;
text-decoration: none;
}
/*==============Shop_Owner Manage service End==================
===================================================*/






/*===============Create Shop Css==================
===================================================*/

#Createshop  .head1{
font-size: 16px;
font-style: "open sans";
font-weight: 400;
color: #888;
}

 .next_btn{
  background: #299494;
  color: #fff;
  padding: 6px 40px;
  cursor: pointer;
  margin-bottom: 10%;
  margin-top: 12%;
  font-size: 16px;
}
 .back_btn{
  background: transparent;
  border: 1px solid  #299494; 
  color: #299494;
  padding: 6px 40px;
  cursor: pointer;
  margin-bottom: 10%;
  margin-top: 12%;
}

 @media only screen and (max-width: 1005px)  {
  #Createshop .col-4{
    max-width: 100% !important;
  }  
}
 @media only screen and (max-width: 993px)  {
  #Createshop input{
    width: 100% !important;
    flex-wrap: wrap;
  }  
}

/*===============Create Shop Css End==================
===================================================*/






/*===============Accept_reject Request Refund Css ==================
===================================================*/

@media only screen and (max-width: 993px)  {
  #Accept_reject img{
    max-width: 100% !important;
    
  }  
}

#Accept_reject .btn_send{
  color: #ffffff;
  background: #299494;
  padding: 4px 20px;
  border: none;
}
/*========Accept_reject Request Refund Css End========
===================================================*/








/*===============Review Customer Css ==================
===================================================*/

#ReviewCustomer .head1{
  font-weight: 500;
  font-size: 20px;
  color:#666666;
}
#ReviewCustomer .subhead{
  font-weight: 200;
  font-size: 16px;
  color: #666666;
}
#ReviewCustomer .yes{
color: #666666;
background: #ffffff;
border-color: #666666;
padding: 1px 30px;
}
#ReviewCustomer .no{
  color: #666666;
  background: #ffffff;
  border-color: #666666;
  padding: 1px 30px;
}
/* -------Dispute-------- */
#Dispute table td{
 color:#0C0C0C;
 font-weight: 500;
}
#Dispute .head_dis{
  color: #666666;
  font-size: 18px;
  font-weight: 500;
}
.add_file{
  font-size: 14px;
  color:#0C0C0C;
  border-color: #707070;
  box-shadow: #000000;
  padding: 6px 20px;

}
.disp_bt{
  background: #299494;
  color: #fff;
  padding: 8px 40px;
  font-weight: 500;
}
.check {
  display: block;
  position: relative;
  padding-left: 25px;

  padding-right: 15px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff ;
  border-color:black;
  border-style:solid;
  border-width:2px;
}

.check input:checked ~ .checkmark {
  background-color: #fff  ;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check input:checked ~ .checkmark:after {
  display: block;
}
.check .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid ;
  border-color: black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*===============Review Customer Css End==================
===================================================*/








/*===============Account Css==================
===================================================*/
#UserProfile .card-group .col-3{
  padding: 0 !important;
 
}
#UserProfile .card-body{
padding: 0!important;
}
#UserProfile .user_name{
  font-size: 16px;
  font-weight: 600;
  color: rgb(122, 117, 117);
}
#UserProfile h6{
  font-size: 15px;
  font-weight: 600;
  color: rgb(122, 117, 117);
}
#UserProfile p a{
  font-size: 16px;
  color: rgb(85, 79, 79);
}
#UserProfile p {
  font-size: 14px;
  color:grey;
}
#UserProfile .profile_btn{
  border:1px solid #299494;
  color: #299494;
  font-size: 16px;
  font-family: Tahoma;
  cursor: pointer;
}
#UserProfile li{
  padding: 20px 0px 20px 0px;
}
#UserProfile .nav-pills a{
  color: rgb(129, 123, 123);
  font-size: 14px; 
  font-weight: 600;
  margin-top: 30px;
  text-decoration: none;

}
#UserProfile .nav-pills .active{
  background-color:#299494;
  color: #fff;
  border-radius: 0;
  padding: 10px 10px 10px 10px;
}

#UserProfile #myBtn {
  background: #fff;
  color: #299494;
  border: none 0;
}
#UserProfile #more
 {display: none;}

 #UserProfile .btn_remove{
  color: #299494;
  font-size: 14px;
  font-weight: 600;
 }
 #UserProfile .btn_edit{
  color: #299494;
  font-size: 14px;
  font-weight: 600;
 }
 #UserProfile .head_detail{
   font-size: 20px;
 }
 #UserProfile .icon-bar {
  width: 40px;
  background-color: #e6e6e6;
}
#UserProfile .icon-bar img {
  display: block;
  padding: 10px;
  color: white;
  font-size: 16px;
}
#UserProfile .flex-container{
  display: flex;
  flex-wrap: wrap;
}
#UserProfile #notification .table thead th{
font-size: 15px;
color: #888;
font-weight: 500;
}
#UserProfile #notification td{
  vertical-align: middle;
}
.bt_defpay{
  background-color: lightgrey;
   color: #696969;
   height: auto;
   border: 0;
   padding: 3px;
   border-radius: 5px;
   font-size: 10px;
}

/* -----------Payments and Payouts----------- */

.payment-tab #tabs{
  background: #007b5e;
  color: #eee;
  
}
.payment-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color:#299494;
  background-color: transparent;
  border-color: transparent transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 16px;
  border-left:0!important;
  border-right:0!important;
  border-top:0!important;
}
.payment-tab .nav-link {
  color:rgb(129, 123, 123);
  font-size: 16px;
  text-align: left;
  font-family: sans-serif;
  border: none;
}
.payment-tab a{
  text-decoration: none;
  color:rgb(129, 123, 123);
 
}
.payment-tab .btn_paysec{
 background-color: #299494;
 border: none;
 color: white;
 padding: 10px 25px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 17px;
 width: 250px;
 letter-spacing: 0.5px;

}
/* -----------Payments and Payouts end----------- */

/* ----------Toggle Switch---------- */

  .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}

 .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

 .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 17px;
  left:1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

 input:checked + .slider {
  background-color: #299494;
}

 input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

 input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
 .slider.round {
  border-radius: 34px;
}

 .slider.round:before {
  border-radius: 50%;
}

 /* ----------Toggle Switch End---------- */
 @media only screen and (max-width: 575px)  {
  #UserProfile .card-group .col-3{
    max-width: 100% !important;
  }  
}
 @media only screen and (max-width: 575px)  {
  #UserProfile .card-group .col-9{
    max-width: 100% !important;
  }  
}

/*===============User-Profile Css End==================
===================================================*/







/*===============Manage Services Css===========
===================================================*/
#manage-service p{
  font-family: "Open sans";
  font-size: 14px;
}

#manage-service .tip{
  border: 1px solid lightgrey;
  padding: 25px 20px 25px 20px;
  border-radius: 100%;
  color: #787878;
  margin: 15px;
  cursor: pointer;
}

#manage-service .tip1{
  border: 1px solid #299494;
  padding: 25px 20px 25px 20px;
  border-radius: 100%;
  color: #299494;
  margin: 15px;
  cursor: pointer;
}
#manage-service .btn_tax{
  background-color: #299494;
  color: #fff;
  border: none;
  font-size: 16px;

}
#manage-service .btn_done{
  background-color: #299494;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 10px 40px;
}
#manage-service #more
 {display: none;}
 #manage-service #more1
 {display: none;}
  #manage-service #more2
 {display: none;}
 #manage-service #myBtn {
  background: #fff;
  color: #299494;
  border: none 0;
}
 #manage-service  #myBtn1{
   background-color: transparent;
   border: none;
   color: #299494;
 }
 #manage-service #myBtn2 {
  background: transparent;
  color: #299494;
  border: none 0;
}

#manage-service .btn_edit {
  border: 1px solid #299494;
  color: #299494;
  padding: 3px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  background-color:#fff;
  border-radius: 5px;
}
#manage-service .invitebtn{
  border: 1px solid #299494;
  color: #299494;
  padding: 3px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  background-color:#fff;
  border-radius: 5px;
}
#manage-service .btn_book{
  border: none;
  color: #fff;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  background-color:#299494;
  border-radius: 0;
}
#manage-service .flex-container{
  display: flex;
  flex-wrap: wrap;
}
#manage-service .flex-container .list_dropdown{
  flex: 6;
}
#manage-service .btn_preview{
  flex: 1;
  background-color: #299494;
  color: #fff;
  border:1px solid #299494;
  height: 35px;

}
#manage-service .btn_cal{
  flex: 1;
  height: 35px;
  color: #299494;
  border:1px solid #299494;
}
@media (max-width:940px){
  #manage-service .btn_preview{
    height: auto;
  } 
  #manage-service .btn_cal{
    height: auto;
  }
}

#manage-service .dropdown {
  background-color: #fff;
  transition: all .5s ease;
  position: relative;
  font-size: 16px;
  color: #299494;
  text-align: left;
  margin-top: 5px;
  border: none;
}
#manage-service .dropdown .select {
    cursor: pointer;
   
}
#manage-service  .dropdown .select > i {
    font-size: 10px;
    color: #299494;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
#manage-service  .dropdown.active .select > i {
    transform: rotate(-180deg)
}
#manage-service  .dropdown .dropdown-menu {
    position: absolute;
    background-color: transparent;
    width: auto;
    left: 0;
    margin-top: 1px;
    color: #299494;
    border: 0 none; 
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
#manage-service .dropdown .dropdown-menu li {
    transition: all .2s ease-in-out;
    cursor: pointer
} 
#manage-service .dropdown .dropdown-menu li:hover {
   background-color: #ccc;
   text-decoration: none;
  } 
#manage-service .photos{
  display: flex;
  flex-wrap: wrap;
}
#manage-service .column {
  float: left;
  width: 26.33%;
  padding: 20px;
}

/* Clearfix (clear floats) */
#manage-service .row::after {
  content: "";
  clear: both;
  display: table;
}
#manage-service table tbody tr {
 border-bottom: 1px solid #DBDBDB;
}
#manage-service table tbody tr td{
  vertical-align:auto;

}
input[type='radio']:after {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color:#fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #787878;
}
input[type='radio']:checked:after {
  width: 20px;
  height: 20px;
  border-radius:20px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #299494;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #299494;
}
  @media (max-width:990px){
    #manage-service  .column{
      width: 100%;
      flex-wrap: wrap;   
    }
  }
 
/*==============Manage Services Css End============
===================================================*/





/*===============Customer-Profile Css==================
===================================================*/
#Customerprofile .card-group .col-3{
  padding: 0 !important;
 
}
#Customerprofile .card-body{
padding: 0!important;
}
#Customerprofile .update_txt {
  font-weight: 500;
  color: #299494;
  cursor: pointer;
  font-size: 16px;
}
#Customerprofile #more
{display: none;}
#Customerprofile #myBtn {
  background: #fff;
  color: #299494;
  border: none 0;
  
} 
#Customerprofile .star_rate{
   cursor: pointer; 
   border-radius: 50%;
   background-color: #fff;
   padding: 4px;
}
#Customerprofile span{
  color: #7f7f7f;
}
#Customerprofile .para p{
  color: #808080;
  font-family: "Open Sans";
  font-size: 16px;
}

#Customerprofile .head_txt{
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 36px;
  color: #808080;
  margin-top: 3%;
  letter-spacing: 2px;
}

#Customerprofile .edit_txt a{
  
  font-weight: 500;
  color: #299494;
  cursor: pointer;
}
#Customerprofile .edit_txt1 a{
  
  font-weight: 700;
  color: #299494;
  cursor: pointer;
}
#Customerprofile .fa-home{
  color: grey
}
#Customerprofile .fa-clone{
  color: grey;
}
#Customerprofile .fa-facebook-square{
  color: grey;
}

#Customerprofile .save_bt{
  color: #fff;
  background: #299494;
  border: none;
  border-radius: 0;
  padding: 5px 30px;
}
#Customerprofile .can_bt
{
  color: #299494;
 background-color: #fff;
  border: 1px solid #299494;
  border-radius: 0;
  padding: 5px 30px;
}
/*--------------- Card Section TOP Rating-------------*/

#Customerprofile #top_rated #stars{
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 50%;
}

#Customerprofile .text-muted{
  font-size: 13px;
}

#Customerprofile .desc_txt{
  font-size: 14px;
  color: #000;
  font-weight: 700;
}

#Customerprofile .reviews{
  color: #20878C;
}

#Customerprofile .line{

  width: 100px;
  height: 25px;
  border-bottom: 2px solid #299494;
  border-image: linear-gradient(to top, #299494 50%, #299494 50%); 
  border-image-slice: 1;
}


#Customerprofile [type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

#Customerprofile [type="file"] + label {
 
  border: none;
  border-radius: 5px;
  color: #299494;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: inherit;
  font-weight: 600;
  
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
  
}

@media only screen and (max-width: 575px)  {
  #Customerprofile .card-group .col-3{
    max-width: 100% !important;
  }  
}
 @media only screen and (max-width: 575px)  {
  #Customerprofile .card-group .col-9{
    max-width: 100% !important;
  }  
}
@media only screen and (max-width: 1090px)  {
  #Customerprofile  #top_rated #stars{
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 50%;
  }  
}
@media only screen and (max-width: 991px)  {
  #Customerprofile  #top_rated #stars{
    cursor: pointer;
    position: absolute;
    top: 20%;
    left: 30%;
  }  
}
@media only screen and (max-width: 575px)  {
  #Customerprofile   #top_rated #stars{
    position: absolute;
    top: 60%;
    left: 70%;
  }  
}
@media only screen and (max-width: 491px)  {
  #Customerprofile   #top_rated #stars{
    position: absolute;
    top: 40%;
    left: 60%;
  }  
}
#Customerprofile .rating-stars ul {
  list-style-type:none;
  padding:0;
  -moz-user-select:none;
  -webkit-user-select:none;
}
#Customerprofile .rating-stars ul > li.star {
  display:inline-block;
  }

  #Customerprofile .rating-stars ul > li.star > i.fa {
  font-size:1.0em; 
  color:#ffff; 
}
#Customerprofile .rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}


/*===============Customer-Profile Css End==================
===================================================*/









/*===============Customer-Booking Css==================
===================================================*/
#Custbooking .exp_groom{
  
  color: #fff;
  background-color:#299494;
  border-radius: 5px;

}

#Custbooking .card-text{
  font-size: 16px;
  color: grey;
}

/*-------Top Rated Card-------*/

#Custbooking #top_rated .check_img{
margin: 50% 0 0 80%;
position: absolute;
z-index: 1;
color: #fff;
cursor: pointer;

}

/*===========Customer-Booking Css End===========
===================================================*/







/*===============Messaging-Css==================
===================================================*/
#messaging .flex-container{
  display: flex;
}
#messaging .flex-container .card-title{
  flex: 2;
}

/*Styling Selectbox*/
#messaging .dropdown {
  width: 160px;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #666666;
  text-align: left;

}
#messaging .dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
#messaging .dropdown .select > i {
    font-size: 10px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
#messaging .dropdown.active .select > i {
    transform: rotate(-180deg)
}
#messaging .dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    overflow-y: auto;
    z-index: 9
}
#messaging .dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
#messaging .dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
#messaging .dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
#messaging .dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}
.table-messaging td {
    vertical-align: middle;
    
}
.table-messaging tr {
 border-bottom: 1px solid #ccc;
}
#messaging .userimg{
  width: 80px;
  height: 80px;
}
#messaging .userid{
  font-weight: 700;
  font-family: sans-serif;
  color: #585858;
}
#messaging .date{
 font-size: 14px;
 color:	#686868;
 padding: 8px 0;
}
#messaging td p{
  color:#707070;
  font-size: 14px;
}
#messaging .confirm{
  color: #33A603;
  font-weight: 600;
  cursor: pointer;
}
#messaging .cancel{
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
/*===============Messaging-Css End==================
===================================================*/





/*===============Favorites-Css==================
===================================================*/

#Favorites .list{
  font-size: 16px;
  color: #4d4d4d;
}
#Favorites .card{
  border-radius: 20px;
  margin-top: 5%;
 
}
#Favorites .card-body{
 padding: 10px;
}
#Favorites .card-img-top {
  border-radius: 20px 20px 0 0;
  height: 200px;
}

#Favorites .card-text{
  font-size: 14px;
  color: #585858;
}
#Favorites  .list_btn{
 color: #fff;
 background-color: #299494;
 border: none;
 padding: 6px 30px;
}
/*===============Favorites-Css End==================
===================================================*/


/*-----------------Footer CSS-----------------------*/

/* Main Footer */
footer .main-footer{  padding: 20px 0;  background: #3C3D41;}
footer ul{  padding-left: 0;  list-style: none;}
/* Footer Top */
.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{  background: transparent;}

/* Footer light */
footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{  background: #f9f9f9;}
/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
Widgets 
====================== */
.widget{  
padding: 20px;
margin-bottom: 40px;
}

.widget.widget-last{
margin-bottom: 0px;
}

.widget.no-box
{
padding: 0;
background-color: transparent;
margin-bottom: 40px;
box-shadow: none; 
-webkit-box-shadow: none; 
-moz-box-shadow: none; 
-ms-box-shadow: none; 
-o-box-shadow: none;
}

.widget.subscribe p
{ 
margin-bottom: 18px;
}
.widget li a{ 
color: #fff;
font-size: 15px;
font-family: sans-serif;
text-decoration: none;
}

.widget-title {
margin-bottom: 20px;
}

.widget-title span {
background: #839FAD none repeat scroll 0 0;
display: block; 
height: 1px;
margin-top: 25px;
position: relative;
width: 20%;
}
.widget-title span::after 
{
background: inherit;
content: "";
height: inherit;
position: absolute;
top: -4px;
width: 50%;
}
.widget-title.text-center span,.widget-title.text-center span::after 
{
margin-left: auto;
margin-right:auto;
left: 0;
right: 0;
}
.widget .badge
{ 
float: right;
background: #7f7f7f;
}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,

.typo-light div,
.typo-light span,
.typo-light small{  color: #fff;font-family: sans-serif;}

.typo-light p{
 color: #fff;
 font-family: sans-serif;
 font-size: 15px;
 
}
.social-footer2 .fa{

color: #20878C;
}
ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;
}