.flex-container{
font-family: "Open Sans" sans-serif;
margin-top: 10%;
width: 100%;
display: flex;
flex-wrap: wrap;
}

.search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  border:none 0!important;
  height: calc(2.5rem + 2.5px) !important;
  border-radius:5px;
}
.btn_search{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(2.6rem + 2.5px) !important;
  background-color:#299484;
  color:#fff;
  border-radius:0!important;
}
.wrn-btn:hover{
  cursor: pointer;
  color:#fff;
}
.input-group-text{
 background-color:#fff!important;
 border:0!important;
}

.fa-chevron-down{
  color: grey;
  font-size: 10px;
  padding: 0px 2px 2px 6px;
  float: right;
  margin-top: 4px;
 }
 .fa-chevron-up{
  color: grey;
  font-size: 10px;
  padding: 0px 2px 2px 6px;
  float: right;
  margin-top: 4px;
 }
  .btn_service{
   text-align: left;
   background-color:#fff;
   border: 1px solid lightgrey;
   color: grey;
   font-size: 14px;
   font-weight: 300;
   width: 100px;
   height: 44px;
 }
  .btn_shop{
   text-align: left;
   background-color:#fff;
   border: 1px solid lightgrey;
   color: grey;
   font-size: 14px;
   font-weight: 300;
   width: 140px;
   height: 44px;
 }
  .btn_price{
  text-align: left;
   background-color:#fff;
   border: 1px solid lightgrey;
   color: grey;
   font-size: 14px;
   font-weight: 300;
   width: 100px;
   height: 44px;
 }
 .btn_time{
 	text-align: left;
   background-color:#fff;
   border: 1px solid lightgrey;
   color: grey;
   font-size: 14px;
   font-weight: 300;
   width: 100px;
   height: 44px;
 }
 .date_picker{
   text-align: left;
   border: 1px solid lightgrey;
   color: grey;
   font-size: 14px;
   font-weight: 300;
   width: 100px;
   height: 44px;
 }
 .save_btn{

 	background-color:#299494;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: 100px;
   height: 43px;
 }

 .card_service{
 	padding: 10px 5px 5px 5px;
 }

 .daterangepicker .drp-buttons .btn-primary{
  border: 1px solid #299494;
  background-color: transparent;
  color: #299494;
  }
  
  
input[type=checkbox]{
  cursor: pointer;
  background-color: transparent;
  margin-top: 8px;
}

.btn_apply{
	border-color: #299494;
	color: #299494;
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
}
.btn_clear{
	border:none;
	color: #000;
	font-size: 16px;
	font-weight: 600;
	margin-top: 17px;	
	cursor: pointer;
    text-decoration: underline ;
    background-color: transparent;
}
.btn_hide{
	border:none;
	color: #000;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
  text-decoration: underline ;
  background-color: transparent;	

}
.dropdown_recommendation .dropdown-menu {
  min-width:330px;
  padding: 10px 10px 10px 10px;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  z-index: 9
 
}
.dropdown_price .dropdown-menu {
  min-width:330px;
  padding: 10px 10px 10px 10px;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  z-index: 9

}
.dropdown_service .dropdown-menu{
   padding: 10px 10px 10px 10px;
   position: absolute;
   overflow: hidden;
   overflow-y: auto;
   z-index: 9
}
#select_price label{
font-size: 14px;
font-weight: 300;
color: grey;

}


.Time_section h6{
font-size: 15px;
font-weight: 600;
color: #000;
}
.Time_section span{
font-size: 12px;
font-weight: 300;
color: grey;
}
.Time_section input{
width: 40%;
height: auto;
border-radius: 4px;
border: 1px solid lightblue;
}

.search_heading h5{
   
   font-size: 20px;
   font-weight: bold;
} 
.search_heading .txt1{
   
   font-size: 14px;
   font-weight: 300;
   color: grey;
    margin: 0;
} 
.search_heading .txt2{
   
   font-size: 14px;
   margin: 0;
} 

.recommend_btn{
   text-align: left;
   border: 1px solid lightgrey;
   background-color: #fff;
   color: grey;
   font-size: 14px;
   font-weight: 600;
   width: auto;
   height: auto;
   text-transform: uppercase;
}

.recom p{
 
 font-size: 14px;
 text-transform: uppercase;
 color: grey;
 cursor: pointer;
 font-weight: 600;
}
.recom p:hover{
 color: #299494;
}
 /*-------------Toggle Buttton--------------*/


.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px; 
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}


/* This css is for normalizing styles. You can skip this. */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*----------------Check box css------------*/


.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}

.chiller_cb {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
}
.chiller_cb input {
  display: none;
}
.chiller_cb input:checked ~ span {
  background: #299494;
  border-color: #299494;
}
.chiller_cb input:checked ~ span:before {
  width: 1rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
  width: 0.4rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.2s;
}
.chiller_cb input:disabled ~ span {
  background: #ececec;
  border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
  color: grey;
}
.chiller_cb input:disabled ~ label:hover {
  cursor: default;
}
.chiller_cb label {
  padding-left: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom:0;
}
.chiller_cb span {
  display: inline-block;
  width: 1.0rem;
  height: 1.0rem;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  transition: all 0.2s;
  z-index: 1;
  box-sizing: content-box;
  border-radius: 3px;
}
.chiller_cb span:before {
  transform: rotate(-55deg);
  top: 1rem;
  left: 0.37rem;
}
.chiller_cb span:after {
  transform: rotate(35deg);
  bottom: 0.35rem;
  left: 0.2rem;
}

.chiller_cb label{
	font-size: 13px;
	font-weight: 200;
	color: #000;
}

/* -----------Star Rated Buttons----------- */
.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #fff;
    padding: 6px 15px;
    font-family: Open Sans;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 50px;
    color:#999999;
}
.radio-toolbar input[type="radio"]:focus + label {
    border: 1px solid #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: limegreen;
    border-color: limegreen;
    color:#fff;  
}
/* -----------Star Rated Buttons End----------- */








/*---------------------Top Rated Card------------------*/
#top_rated .card{
  border-radius: 20px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  }
  
  #top_rated  img {
  border-radius: 20px 20px 0 0;
  }
  
  
    
  #top_rated .card-img-caption .card-text {
  
  width: 100%;
  margin: 40% 0 0 5%;
  position: absolute;
  z-index: 1;
  color: #fff;
  }
  #top_rated .prize_text{
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  width: 100%;
  margin: 50% 0 0 5%;
  position: absolute;
  z-index: 1;
  color: #fff;
  }
  
  #top_rated .fa-heart-o{
  
  margin: 50% 0 0 80%;
  position: absolute;
  z-index: 1;
  color: #fff;
  cursor: pointer;
  }
  
  #top_rated .btn-success2 {
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 10px;
  width: 100%;
  border-radius: 40px;
  background-color: #20878C; 
  }
  
@media screen and (max-width: 767px) {
  #top_rated .card{
    margin-bottom: 15px;
  }
}
  /*---------------- star Ratings--------- */
  .rating-stars ul {
    list-style-type:none;
    padding:0;
    -moz-user-select:none;
    -webkit-user-select:none;
  }
  .rating-stars ul > li.star {
    display:inline-block;
    
  }
  
  
  .rating-stars ul > li.star > i.fa {
    font-size:1.0em; 
    color:#ccc; 
  }
  
  .rating-stars ul > li.star.hover > i.fa {
    color:#dddddd;
  }
  
  .rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
  }
  

  /* ------------------ */

 .search_heading{
  padding: 63px;
}

@media screen and (max-width: 768px) {
 .dropdown{
    margin-top: 15px;
  }
  .btn_shop{
    margin-top: 15px;
  }
  #datebtn{
    margin-top: 15px;
  }
  .save_btn{
    margin-top: 15px;
  }
  .dropdown_price .dropdown-menu {
    max-width: 100%;
    overflow: hidden;
    overflow-y: auto;
    z-index: 9
  
  }
}